@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-background: #f5f7fa;
  --card-foreground: #171717;
}

[data-theme="light"] {
  --background: #e4e9eb;
  --foreground: #171717;
  --foreground-table: #171717;
  --card-background: #dce1e3;
  --inputlbl-background: #ffffff;
  --card-foreground: #171717;
  --filter-form-bkgrnd: transparent;
  --box-shadow: rgb(206, 205, 205);
  --border-color: rgb(211, 207, 207);
}

[data-theme="dark"] {
  --background: #161a25;
  --foreground: #ededed;
  --foreground-table: #b46060;
  --card-background: #212738;
  --inputlbl-background: #929299; /* zinc-400 */
  --card-foreground: #ededed;
  --filter-form-bkgrnd: #292f3f;
  --box-shadow: rgb(100, 100, 100);
  --border-color: rgb(83, 83, 83);
}

.main-container {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s, color 0.3s;
}


.hide-scrollbar {
          -ms-overflow-style: none;
          scrollbar-width: none;
        }
        .hide-scrollbar::-webkit-scrollbar {
          display: none;
        }
.autolayout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
}
